header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
    line-height: 150%;
}

/* Headings */
h1 {
    font-size: 1.95rem; /* learned off youtube */
    letter-spacing: -2%;
    color: rgb(30, 255, 0);
}

h2 {
   font-size: 1.5625rem; /* learned off youtube */
   line-height: 110%;
   letter-spacing: -1.5%;
   color: rgb(30, 255, 0);
}

h3 {
    font-size: 1.25rem; /* learned off youtube */
}

#intro {
  background-color: #000;
  padding: 50px;
}

/* Sections */
#grid {
  background-color: #333333;
  padding: 50px;
}

/* Hero */
.hero {
  height: 40vh;               /* or 350px */
  width: 100%;
  background-image: url("../_images/drums.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.hero-inner { /* Full-width banner */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.hero-content { /* Constrains hero content to page width */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  justify-content: center;
}

.hero-content img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* Tiles */
.tile {
  background-color: #555555;
  color: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto 10px;
  margin-bottom: 20px;

}

/* Factor List */
.factor-list {
  list-style: none;
  background: #555555;
  padding: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 20px;
  max-width: 1200px;
}

 .factor-list b { /* changes color of the bold title in the factor list */
    color: rgb(30, 255, 0);;
 }

.factor-list li:hover b { /* changes color of the bold title in the factor list back to black on the hover state only state */
    color: #000;
}

.factor-list li {
  display: flex;              /* FLEXBOX */
  flex-direction: column;     /* stack title + paragraph */
  justify-content: flex-start;
  color: white;
  background-color: #000;
  padding: 20px;
  border-radius: 12px;
}

.factor-list li:hover {
    background-color:rgb(30, 255, 0);
    color: #000; 
}

/* Ordered List */
.ordered-list {
  list-style: decimal inside;
  background: #555555;
  padding: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  border-radius: 20px;
  max-width: 1200px;
}

 .ordered-list b { /* changes color of the bold title in the ordered list */
    color: rgb(30, 255, 0);
 }

.ordered-list li {
  padding: 20px;
  color: white;
  background: #444;
  border-radius: 10px;
}

.ordered-list li::marker {  /* changes the number color */
  color: rgb(30, 255, 0);
  font-weight: bold;
}

.ordered-list li img {  /* changes image boxes to rounded edges */
  max-width: 48%;
  border-radius: 8px;
  display: block;
}

.ordered-list li .image-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.ordered-list li .image-row img {
  flex: 1 1 45%;
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

/* queries to make responsive (found technique by reseraching google and chat GPT) */
@media (max-width: 900px) {
  .factor-list {
    grid-template-columns: repeat(2, 1fr);
  }
} 

@media (max-width: 500px) {
  .factor-list {
    grid-template-columns: 1fr;
  }
}

/* Footer */
footer {
    color: white;
    background-color: #000;
    padding: 20px;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 20px;
  text-align: center;
}

.button {
    background-color: rgb(30, 255, 0);
    color: #000;
    border-radius: 30px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-display: inline-block;
    margin: 20px;
}

.button:hover {
  background-color: #555555;
  color: rgb(30, 255, 0);
}